.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
*.log
captures/
.navigation/
*.iml
*.ipr
*.iws
.gradle/**
build/**
.idea/**
import-summary.txt
